@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));



body{
  min-height: 100vh;
}

.home{
  background-image: url(/src/assets/light-patten.svg);
  /* background-position:center;
  background-repeat: no-repeat; */
  background-size:contain;

}


/* theme: {
  extend: {
    keyframes: {
      'fade-in': {
        '0%': { opacity: 0, transform: 'translateY(20px)' },
        '100%': { opacity: 1, transform: 'translateY(0)' },
      },
    },
    animation: {
      'fade-in': 'fade-in 0.5s ease-out forwards',
    },
  },
} */